# Ignorar dependências
node_modules/

# Ignorar Dist
dis/

# Arquivos de log
*.log

# Arquivos com informações sensíveis
.env

# Arquivo temporário do TypeScript
*.tsbuildinfo

# Cache do editor
.vscode/